.cadastro-container {
  background-color: lightgrey; 
  padding: 20px;
  border: 2px solid black; 
  margin-bottom: 20px;
}

.cadastro-container h2 {
  margin-top: 0;
  text-align: center; 
  color: black;
}


.cadastro-form {
  display: block;
}

.input-group {
  margin-bottom: 10px;
}

.row-group {
  display: block; 
}

.cadastro-form input[type="text"],
.cadastro-form select {
  padding: 8px;
  border: 1px solid gray;
  width: 100%;
  margin-bottom: 10px;
}

.error-text {
  color: red; 
  font-weight: bold;
}

.cadastro-form button {
  padding: 10px;
  background-color: blue; 
  color: white;
  border: 1px solid black;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  